NET "clk" PERIOD = 20 ns | LOC = "K3";
NET "rx" LOC = B10 | IOSTANDARD = LVTTL; # "USB_RS232_RXD"
NET "tx" LOC = E10 | IOSTANDARD = LVTTL; # "USB_RS232_TXD"
NET "neopixel_data_out"  LOC="D8"  | IOSTANDARD=LVTTL;
NET "powerLED" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
	